* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #fffefe;
  }
  
  

  /*styles for the header include borders*/
  header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  span {
    color: green;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  
  
button[type="button"] {
    background-color: #4dd119;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 16px;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  button[type="button"] {
    color: #424141;
  }
  
  button[type="button"]:hover {
    background-color: #f2f2f2;
    color: rgb(5, 121, 5);
    border: 2px solid rgb(5, 121, 5);
  }
  
  main {
    max-width: 1000px;
    margin: 100px auto 50px auto;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  
  
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card {
    display: flex;
    align-items: center;
    background-color: #fff;
    align-items: flex-start;
    height: 0%;
    width: 100%;
    box-shadow: 0 1px 1px rgba(199, 198, 198, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .card1 {
    display: flex;
    flex-direction: column;
    opacity: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #10a831;
    margin-top: 250px;
    margin-left: -200px;
    height: 250px;
    width: 700px;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    
  }

  #pow {
    font-size: 75px;
    margin-top: 10px;
  }
  
  #seco { 
    font-size: 45px;
    margin-top: -30px;
    color: #f9fcf9;
  }



  .car {
    margin-left: -220px;
    background-color: #fefeff;
    align-items: flex-start;
    height: 1500px;
    width: 1430px;
    margin-top: 60px;
    box-shadow: 0 1px 1px rgba(199, 198, 198, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .cont {
    display: flex;
    align-items: center;
    background-image: url("patients\ \(2\).png");
    background-size: contain;
    background-size: cover;
    background-position: 300px 10px;
    background-repeat: no-repeat;
    background-size: 900px;
    height: 550px;
    width: 1200px;
    margin-top: -80px;
  }
  
  #img {
    height: 400px;
    width: 800px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 20px;
  }
  .logoi {
    width: 430px;
    height: 220px;
    margin-top: 40px;
    margin-left: -100px;
   
    position: absolute;
  }
 
  .img1 {
   
    height: 400px;
    width: 800px;
    display: block;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 200px;
    margin-right: 20px;
    margin-top: 500px;
  }

  .img2 {
    
    height: 400px;
    width: 850px;
    display: block;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 20px;
    margin-top: 1000px;
  }

  #abt {
    height: 950px;
    width: 700px;
    display: block;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: -200px;
    position: absolute;
    margin-top: 150px;
  }
  
  .card-info {
    flex: 5%;
    padding: 20px;
    margin-left: 50px;
    margin-top: 90px;
  }
  .card-info1 {
    flex: 5%;
    padding: 20px;
    margin-left: 80px;
    margin-top: 600px;
  }

  .card-info2 {
    flex: 5%;
    padding: 20px;
    margin-left: 20px;
    margin-top: 1050px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  #about {
    margin-top: 100px;
    margin-left: 600px;
  }

  .aboutus-more {
    border: 1px solid #10a831;
    border-radius: 25px;
    color: #0ec51d;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

/* Style for the contributors section */
#contributors {
  margin-top: 50px;
  padding: 50px 10px;
  background-color: #fdfbfb;
  align-items: center;
  
}


/* Style for the contributors list */
#contributors ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Style for the GitHub icon */
#contributors li a i {
  font-size: 2rem;
  color: #000;
  transition: color 0.3s ease-in-out;
}

/* Hover effect for the GitHub icon */
#contributors li a:hover i {
  color: #fff;
}


/* Style for each contributor item */
#contributors li {
  width: 300px;
  margin: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  
}

/* Hover effect for each contributor item */
#contributors li:hover {
  transform: translateY(-5px);
}

/* Style for the contributor image */
#contributors li img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

/* Style for the contributor name */
#contributors li h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}

/* Style for the contributor role */
#contributors li p:nth-child(3) {
  margin-top: 10px;
  font-weight: bold;
}

/* Style for the contributor contributions */
#contributors li p:last-child {
  margin-top: 10px;
}

/* Style for the GitHub profile link */
#contributors li a {
  display: inline-block;
  margin-top: 20px;
  padding: 1px 2px;
  background-color: #fdfbfb;
  color: #fff;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.gitlog {
  width: 30px;
  margin-right: 10px;
}

/* Hover effect for the GitHub profile link */
#contributors li a:hover {
  background-color: #fff;
  color: #000;
}

  footer {
    background-color: #fcfbfb;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  footer a {
    color: #4285f4;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
