
  /* Style the dropdown */
  #dropdown {
    width: 200px;
    padding: 5px;
    font-size: 14px;
    color: #333;
    background: #fff;
  }

  /* Style the dropdown options */
  #dropdown option {
    background: #fff;
    color: #333;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1px;
    /* Additional styling properties */
  }

  table {
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
    text-align: center;
  }

  td:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }

  .month-year {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .month-year select {
    width: 100px;
  }


  /* Table style */
  table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    font-size: 1.2em;
    min-width: 1000px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  table thead tr {
    background-color: #c3cac2;
    color: #111010;
    text-align: left;
  }
  table th,
  table td {
    padding: 12px 15px;
  }
  table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  table tbody tr:last-of-type {
    border-bottom: 2px solid #27db3f;
  }

  .btn2{
    margin-left: 15px;
    margin-top: -5px;
    background-color: #20b140;
    border-radius: 5px;
    color: white;
    padding: 8px 20px;
    border: none;
    background-color: hsl(120, 64%, 35%);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  }

  .btn2:hover {
    background-color: hsl(180, 7%, 97%);
    color: rgb(5, 121, 5);
    border: 2px solid rgb(5, 121, 5);

}

#btn3 {
    margin-left: 85%;
    margin-top: -30px;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 10px;
}


* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
body {
  overflow-y: scroll;
}
.head {
    background-color: hsl(140, 84%, 42%);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    align-items: flex-start;
    display: flex;
    box-shadow:  2px 2px 10px #9c9a9a;
}
ul {
    list-style: none; /* Removes bullet points */
  }
  
  li {
    display: inline-block; /* Displays list items inline */
    margin-right: 10px; /* Adds a small space between each item */
  }
.main {
    background-color: rgb(245, 244, 244);
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    left: 0px;
    right: 0px;
}
h2 {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 21px;
    margin: 0;
    color: rgb(36, 173, 43);
    text-align: left;
    margin-left: 1%;
    font-weight: lighter;
}

#space {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-flex;
    font-size: 14px;
    margin-left: -6px;
}
.des {
    background-color: rgb(255, 254, 254);
    display: flex;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}


#action {
    margin-top: -15px;
    border: 1px solid rgb(18, 19, 18);
    color: rgb(15, 15, 15);
    background-color: rgb(250, 248, 248);
    margin-left: 410px;
    width: 88px;
    height: 28px;
    border-radius: 3px;
    font-size: 12px;
}

#action:hover {
    background-color: hsl(347, 81%, 49%);
    color: rgb(249, 253, 249);
}


.main2 {
    background-color: rgb(255, 254, 254);
    height: 45px;
    width: 100%;
    justify-content: flex-start;
    margin-top: 70px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
}
.card {
    
    background-color: rgb(255, 254, 254);
    border-radius: 2px;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
    vertical-align: top;
    border: 2px solid rgb(226, 217, 217);
    box-shadow:  2px 2px 10px #c2bfbf;
    justify-content: space-around;
    
}

.line {
    border-bottom: 2px solid rgb(230, 227, 227);
    border-top: 2px solid rgb(230, 227, 227);
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
}



.left-side-img3 {
	height: 38px;
	width: 80px;
    left: 0%;
    align-items: center;
    
}

.left {
   font-size: 14px;
   justify-content: space-around;
   color: rgb(80, 79, 79);
   font-weight: bold;
   font-family: Helvetica, sans-serif;
   margin-left: 6px;
}

.middle1 {
    font-size: 14px;
    margin-left: 110px;
    padding-left: 30px;
    border-left: 1px solid rgb(211, 209, 209);
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

select {
    margin-top: 10px;
}

.middle2 {
    font-size: 14px;
    margin-left: 15%;
    color: rgb(80, 79, 79);
    font-weight: bold;
    font-family: Helvetica, sans-serif;

}

.right {
    font-size: 14px;
    font-weight: 100;
    margin-left: 3%;
    padding-left: 30px;
    border-left: 1px solid rgb(211, 209, 209);
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

input {
    margin-top: 10px;
}

.title {
    height: 50%;
    width: 50%;
    top: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    left: 5.5%;
    font-size: 27px;
    color: rgb(240, 248, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.patients {
    height: 15%;
    width: 10%;
    top: 23%;
    left: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    color: rgb(245, 248, 250);
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.pharmacy {
    height: 15%;
    width: 10%;
    top: 23%;
    left: 65%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    color: rgb(245, 248, 250);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.appointments {
    height: 15%;
    width: 10%;
    top: 23%;
    left: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    color: rgb(245, 248, 250);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.patient-name {
    font-size: 25px;
    font-weight: lighter;
    margin-left: -25px;
    margin-top: -20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #525050;
}

.btn {
    padding: 0.60rem 1rem;
    border: none;
    background-color: hsl(120, 64%, 35%);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
    height: 34px;
    align-self: center;
    margin-left: 70px;
    font-size: 12px;
}

.btn1 {
    padding: 8px 20px;
    border: none;
    background-color: hsl(120, 64%, 35%);
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    margin-left: 50%;
    margin-top: -50px;
    font-size: 12px;
    width: 100px;
    
    
}

.btn1:hover {
    background-color: hsl(180, 7%, 97%);
    color: rgb(5, 121, 5);
    border: 2px solid rgb(5, 121, 5);

}
a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
  .bread_crumb {
    text-decoration: none;
    font-size: 19.5px;
    color: green;
    margin-top: -15px;
    display: block;
  }

 
  .hidden {
    display: none;
  }

  .card-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }

  .popup-content {
    background-color: white;
    padding: 20px;
    max-height: 500px;
    max-height: 500px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable scrolling if content exceeds the height */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a box shadow for visual effect */
  }

  .section-wrapper1 {
    display: flex;
    float: left;
    width: 50%;
  }

  .section-wrapper2 {
    display: flex;
    float: right;
    width: 50%;
  }

  .section {
    flex: 1;
    padding: 20px;
  }

  .vertical-line {
    border-left: 1px solid #000;
    margin: 0 20px;
  }

  .container {
    display: flex;
  }

  .section-divider {
    border-top: 1px solid #44df51;
    margin: 20px 0;
  }

  .button {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 20px;
  }

.totals {
  justify-content: flex-end;
  float: right;
}
  
  @media screen and (max-width: 768px) {
    .card {
      width: 45%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      width: 100%;
    }
  }

  /* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    background-color: #f1f1f1; /* Background color of the scrollbar */
    width: 10px;
  }
  
  /* For the thumb or handle of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: hsl(140, 84%, 42%); /* Color of the thumb */
    border-radius: 5px; /* Rounded corners */
    
  }
  
  #edit{
    display: inline-block;
    margin-top: -50px;
    margin-left: 80%;
  }

  .flash-message {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    z-index: 9999;
  }