/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .head {
    background-color: hsl(140, 84%, 42%);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    align-items: flex-start;
    display: flex;
    box-shadow:  2px 2px 10px #9c9a9a;
}
ul {
    list-style: none; /* Removes bullet points */
  }
  
  li {
    display: inline-block; /* Displays list items inline */
    margin-right: 10px; /* Adds a small space between each item */
  }

  .left-side-img3 {
    height: 45px;
    width: 95px;
      left: 0%;
      align-items: center;
      
  }

  .title {
    height: 50%;
    width: 50%;
    margin-top: -70px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    left: 7%;
    font-size: xx-large;
    color: rgb(240, 248, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.patients {
  height: 15%;
  width: 10%;
  top: 23%;
  left: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  color: rgb(245, 248, 250);
  text-decoration: none;
  font-size: 21.2px;
  font-weight: bold;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
.pharmacy {
  height: 15%;
  width: 10%;
  top: 23%;
  left: 65%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  color: rgb(245, 248, 250);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
.appointments {
  height: 15%;
  width: 10%;
  top: 23%;
  left: 80%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  color: rgb(245, 248, 250);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
  
  h2 {
    text-align: center;
    margin-top: 70px;
    font-size: x-large;
  }
  
  form {
    margin: 0 auto;
    width: 60%;
    height: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  fieldset {
    border: none;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  textarea {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  select {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="date"] {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: hsl(150, 33%, 99%);
    color: rgb(5, 121, 5);
    border: 2px solid rgb(5, 121, 5);
  }
  
  /* Fieldset Styles */
  legend {
    font-weight: bold;
    font-size: 18px;
  }

  /* Style for Age field */
  
  input#age {
    padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  }

  label[for="hospitalizations"] {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  textarea[name="notes"] {
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    white-space: pre-wrap;
  }
  
  
  
  
  @media only screen and (max-width: 600px) {
    /* Adjust width of Age field on smaller screens */
    input#age {
      width: 80%;
    }
  }
  
  
  /* Media Queries */
  @media only screen and (max-width: 600px) {
    form {
      width: 90%;
    }
  }
