<!DOCTYPE html>
<html>
<head>
        <title>Customer Invoices</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/prescriptions.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
</head>

<body>
    <script type="module" src="../static/scripts/header.js"></script>

    <my-header></my-header>

    <section class="main2">
        <h2><a class="bread_crumb" href="/">Patients /</a></h2><h3><a class="bread_crumb" href="http://127.0.0.1:5000/single/{{ patient.id }}">{{ patient.name }} /</a></h3><h4>Prescriptions</h4>
        <button id="action">DISCARD</button>
        
        <a href="" id="edit"><button class="btn1">SAVE</button></a>
    </section>
    <div class="line">
        <button class="btn">VALIDATE</button>
        <button class="btn"><a>TRANSFER</a></button> 
    </div>

    <main class="main">
        <section class="card">
            <h3>Draft Invoice</h3>

            <section class="des">
                <div class="left">
                    Related Patient<br>
                    <h7 id="space">Payment Method</h7>
                </div>
                <div class="middle1">
			{{ patient.name }}
		    <br>
            <p>Cash</p>
              
                </div>
                <div class="middle2">
                    Salesperson<br>
                    <h7 id="space">Invoice Date</h7><br>
                </div>
                <div class="right">
                    {{ user.name }}<br>
                    {{ invoice.created_at}}
                    <div id="calendarDropdown" class="dropdown-content"></div>
		    
                </div>
            </section>

            <section class="main2">
                <h2>Invoice Lines</h2>
                <a id="btn3" href="#" target="_blank"><button class="btn2" id="addButton">Add an item</button></a>

                <!-- Card Popup HTML -->
                <div id="cardPopup" class="hidden card-popup">
                    <div class="popup-content">
                        <h2 class="text-2xl mb-4">Create: New Prescription</h2>

                        <div class="container">
                            <div class="section-wrapper1">
                                <section class="section">
                                    <h3>Medicines</h3>
                                    <h3>Form</h3>
                                    <h3>Start of treatment</h3>
                                    <h3>Patient</h3>
                                </section>
                            
                                <div class="vertical-line"></div>
                            
                                <section class="section">
                                    <select id="physicianDropdown">
                                        <option value="example1">Acetaminophen</option>
                                        <option value="example2">Levothyrxine</option>
                                        <option value="example3">Sertraline</option>
                                    </select><br>
                                    <select id="physicianDropdown">
                                        <option value="example1">Example 1</option>
                                        <option value="example2">Example 2</option>
                                        <option value="example3">Example 3</option>
                                    </select><br>
                                    <select id="physicianDropdown">
                                        <option value="example1">Example 1</option>
                                        <option value="example2">Example 2</option>
                                        <option value="example3">Example 3</option>
                                    </select><br>
                                    <select id="physicianDropdown">
                                        <option value="example1">Example 1</option>
                                        <option value="example2">Example 2</option>
                                        <option value="example3">Example 3</option>
                                    </select><br>
                                </section>
                            </div>

                            <div class="section-wrapper2">
                                <section class="section">
                                    <h3>Indication</h3>
                                    <h3>Administration Route</h3>
                                    <h3>End of treatment</h3>
                                </section>
                            
                                <div class="vertical-line"></div>
                            
                                <section class="section">
                                    <select id="physicianDropdown">
                                        <option value="example1">Example 1</option>
                                        <option value="example2">Example 2</option>
                                        <option value="example3">Example 3</option>
                                    </select><br>
                                    <select id="physicianDropdown">
                                        <option value="example1">Example 1</option>
                                        <option value="example2">Example 2</option>
                                        <option value="example3">Example 3</option>
                                    </select><br>
                                    <select id="physicianDropdown">
                                        <option value="example1">Example 1</option>
                                        <option value="example2">Example 2</option>
                                        <option value="example3">Example 3</option>
                                    </select>
                                </section>
                            </div>
                        </div>

                        <hr class="section-divider">

                        <div class="container">
                            <h2>Dosage</h2>
                            <div class="section-wrapper1">
                                <section class="section">
                                    <h3>x</h3>
                                    <h3>Dose</h3>
                                    
                                </section>
                            
                                <div class="vertical-line"></div>
                            
                                <section class="section">
                                    <select id="physicianDropdown">
                                        <option value="example1">Example 1</option>
                                        <option value="example2">Example 2</option>
                                        <option value="example3">Example 3</option>
                                    </select><br>
                                    <select id="physicianDropdown">
                                        <option value="example1">Example 1</option>
                                        <option value="example2">Example 2</option>
                                        <option value="example3">Example 3</option>
                                    </select>
                                </section>
                            </div>

                            <h2>Common Dosage</h2>

                            <div class="section-wrapper2">
                                
                                <section class="section">
                                    <h3>Frequency</h3>
                                    <h3>Admin hours</h3>
                                </section>
                            
                                <div class="vertical-line"></div>
                            
                                <section class="section">
                                    <select id="physicianDropdown">
                                        <option value="example1">Example 1</option>
                                        <option value="example2">Example 2</option>
                                        <option value="example3">Example 3</option>
                                    </select><br>
                                    <select id="physicianDropdown">
                                        <option value="example1">Example 1</option>
                                        <option value="example2">Example 2</option>
                                        <option value="example3">Example 3</option>
                                    </select>
                                </section>
                            </div>
                        </div>

                        <hr class="section-divider">

                        <div class="button">
                            <button class="btn"><a>SAVE & CLOSE</a></button>
                            <button class="btn"><a>SAVE & NEW</a></button>
                            <button class="btn"><a>DISCARD</a></button>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!--<h4>Prescription Records</h4>-->
            <table>
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Desription</th>
                    <th>Account</th>
                  <th>Quantity</th>
                  <th>Unit of Measure</th>
                  <th>Unit price</th>
                  <th>Taxes</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                for event in all_events
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                endfor
                </tbody>
            </table>

            <section>
                <div class="totals">
                    Untaxed Amount: 
                    <br>Tax: 
                    <hr class="section-divider">
                    Total: 
                    <hr class="section-divider">
                    Amount Due:  
                </div>
            </section>
        </section>
    </main>
</body>

<script src="../static/scripts/prescriptions.js"></script>
</html>