{% extends 'header.html' %}

{% block content %}
	<h2>Drugs Registration Form</h2>
	<form id="myForm" method="post">
		<fieldset>
			
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="{{ drug.name }}"required><br><br>
			<label for="price">Price:</label>
			<input type="number" id="price" name="price" value="{{ drug.price }}" required><br><br>
			<label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="{{ drug.quantity }}" required><br><br>
		</fieldset>
		
		<button type="submit" value="Submit" id="btn">Submit</button> 
	</form>
{% endblock %}