<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/forgot_passw.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css" rel="stylesheet">
    <title>Forgot Password</title>
</head>
<body>
    <div class="navbar bg-white text-white">
        <div class="container mx-auto flex items-center justify-between py-4">
            <a class="logo text-2xl font-bold" href="#">Health<span class="font-light">Bridge</span></a>

            <img id="mobile-cta" class="mobile-menu" src="../images/menu.svg" alt="Open Navigation">

            <nav class="hidden md:block">
                <img id="mobile-exit" class="mobile-menu-exit" src="../images/exit.svg" alt="Close Navigation">
                
                <ul class="primary-nav flex space-x-4">
                    <li class="current"><a href="#" class="hover:text-green-300">Home</a></li>
                    <li><a href="#features" class="hover:text-green-300">Features</a></li>
                    <li><a href="#about" class="hover:text-green-300">About Us</a></li>
                </ul>

                <ul class="secondary-nav flex space-x-4">
                    <li><a href="#testimonials" class="hover:text-green-300">Testimonials</a></li>
                    <li class="go-premium-cta"><a href="./login_signup.html" class="bg-white text-green-300 px-4 py-2 rounded hover:bg-green-300 hover:text-white">Get Started</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <main class="main">
        <section class="card">
            <h2 class="text-4xl mb-4 ml-28 mt-4" class="h1">Forgot Password</h2>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2 flex ml-12" for="email">Email Address</label>
                <input class="shadow appearance-none w-80 border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2 ml-12" id="email1" type="email" placeholder="Enter your email">
            </div>

            <p class="ml-12">The email address you used when signing up for your HealthBridge <br> account.</p>

            <button class="bg-green-500 mt-4 mb-4 h-12 ml-12 border rounded" id="resetButton"><a href="http://127.0.0.1:5000/reset_password_token">Reset</a></button>

            <div id="popup" class="hidden ml-12 mr-8 mb-4 bg-gray-200">
                <p>If an account for you exists, you will receive a verification request shortly.<br>Check your email!</p>
            </div>

        </section>
    </main>

    <footer class="footer bg-gray-800 text-white py-6 mt-0 h-20">
        <div class="container mx-auto flex items-center justify-between">
            <p class="text-sm">&copy; 2023 HealthBridge. All rights reserved.</p>
            <ul class="footer-nav flex space-x-4">
                <li><a href="#" class="hover:text-green-300">Privacy Policy</a></li>
                <li><a href="#" class="hover:text-green-300">Terms of Service</a></li>
                <li><a href="#" class="hover:text-green-300">Contact Us</a></li>
            </ul>
        </div>
    </footer>

    <script>

        const resetButton = document.getElementById('resetButton');
        const popup = document.getElementById('popup');

        resetButton.addEventListener('click', (e) => {
            popup.classList.remove('hidden');
            e.preventDefault();
            const email = document.getElementById("email1").value;
            var formData = new FormData();
            formData.append("email", email);

            // Make a POST request to the API endpoint
            fetch('http://127.0.0.1:5000/reset_password_token', {
            method: 'POST',
            body: formData
            }).then(function(response) {
            if (response.ok) {
                // Successful login, redirect to home page
                console.log(response);
                window.location.href = "/";
            } else {
                // Failed login, display error message
                alert('Reset failed, Please try again.');
            }
            })
            .catch(function(error) {
            console.error('Error:', error);
            alert('An error occurred during reset process.');
            });
        });

        const mobileBtn = document.getElementById('mobile-cta');
        const nav = document.querySelector('nav');
        const mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click', () => {
            nav.classList.add('menu-btn');
        });

        mobileBtnExit.addEventListener('click', () => {
            nav.classList.remove('menu-btn');
        });
    </script>

<script src="../landing.js"></script>

</body>
</html>