<!DOCTYPE html>
<html>
<head>
    <!--<script src="https://cdn.socket.io/socket.io-3.1.3.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect("http://localhost:5000");
    socket.on('connect', function() {
        socket.send('I\'m connected!');
    });
    socket.on('message', function(data) {
            console.log('Received message: ' + data);
            // Handle the received message
            chat = document.getElementById("messages");
            var paragraph = createMessageElement("outgoing", data);
            chat.appendChild(paragraph);
        });
</script>
    <script>
        function sendMessage() {
            var message = document.getElementById('message').value;
            username = document.getElementById('username').textContent;
            socket.send(username + ":            " + message);
            document.getElementById('message').value = '';
        }
        function createMessageElement(className, content) {
        const messageElement = document.createElement('div');
        messageElement.classList.add(className);
        messageElement.innerHTML = `<p>${content}</p>`;
        return messageElement;
    }
    </script>
    <link rel="stylesheet" href="../static/styles/single_patient.css" />
    <link rel="stylesheet" href="../static/styles/message.css" />
</head>
    <script type="module" src="../static/scripts/header.js"></script>

    <my-header></my-header>
    
<body >
    <!--<div id="messaes" style="margin: 0 auto; width:60%; text-align: center; min-height: 200px;">

    </div>
    <p id="username" style="display: inline;">{{ name }}</p>
    <input type="text" id="mesage" placeholder="message">
    <button id="bn" onclick="sendMessage()">Send</button>-->

    <div class="col1">
            <div class="inner">
                <div class="top">
                    <div class="profile-contents">
                    <div class="profilecol1">
                        <img src="./images/arrow.svg" alt="" class="arrow">
                        <img src="./images/avatar.jpg" alt="" class="profileimg">
                        <div class="profile-info">
                        <h2 id="username" style="display: inline;">{{ user.name }}</h2>
                        <span>HealthBridge</span>
                        </div>
                        
                    </div>
                    <img src="./images/threedots.svg" class="menudots" alt="">
                    </div>
                </div>
                <div id="messages" style="margin: 0 auto; width:60%; text-align: left; min-height: 200px;"> 
                </div>
            
        
                <div class="inputfield">
                <input class="message" id="message" type="text" placeholder="Type a message...">
                <button class="submit" id="btn" onclick="sendMessage()" type="submit">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.1717 12.0005L9.34326 9.17203L10.7575 7.75781L15.0001 12.0005L10.7575 16.2431L9.34326 14.8289L12.1717 12.0005Z"></path></svg>
                </button>
                </div>
            </div>
    </div>
    <img id="mes" src="../static/images/2942035.jpg"/>
</body>
</html>
