<!DOCTYPE html>
<html>
<head>
        <title>Patient Management Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./static/styles/patients_pharmacy.css" />
        
</head>
<body>
    <script type="module" src="../static/scripts/header.js"></script>

    <my-header></my-header>
     
    <section class="main2">
        <h2>Patients</h2>
        <input type="text" placeholder="Search..." id="search-query">
        <a href="http://127.0.0.1:5000/create_patient">
            <button class="btn">Create</button>
        </a>
    </section>
    
    <main class="main">
            {% for patient in patients %}
            <section class="card">
                <div class="left-side">
                    <!--<img
                        src="https://assets.mockflow.com/app/wireframepro/company/C06cebf9edc514714a50cc24918f5b156/projects/MYQX0R3SPob/images/thumbnails/M50cdc58de673aac14efd9695d1eca8f01677654781137"
                        alt="photo"
                        class="left-side-img"
			/>-->
		    <img
			    src="../static/images/p1.jpeg"
                        alt="photo"
                        class="left-side-img"
                        />
		   
                </div>
                
                <div class="right-side">
                    
                    <p class="description">
		    <h1 class="patient-holder"><a class="patient-name" href="http://127.0.0.1:5000/single/{{ patient.id }}">{{ patient.name }}</a></h1>
			<div class="info">			
				{{ patient.gender }}<br>
				{{ patient.age }} years<br>
				{{ patient.address }}
			</div>
                    </p>
                    
                </div>
            </section>
	    {% endfor %}
            
           
    </main>
</body>
<script type="text/javascript" src="../static/scripts/search.js"></script>
</html>
