<!DOCTYPE html>
<html>
<head>
	<title>Patient Registration Form</title>
    <link rel="stylesheet" href="../static/styles/drugs_form.css" />
    
</head>
<body>
	<script type="module" src="../static/scripts/header.js"></script>

    <my-header></my-header>
    
	<h2>Payments Form</h2>
	<form id="myForm" method="post">
	<fieldset>
	    <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required "><br><br>
            <label for="paid">Paid:</label>
            <input type="number" id="paid" name="paid" required "><br><br>
            <!--<label for="balance">Balance:</label>
            <input type="text" id="balance" name="balance" readonly>-->
	</fieldset>
		
		<button type="submit" id="btn" value="Submit">Submit</button> 
	</form>
</body>
<script type="text/javascript" src="../static/scripts/create_payment.js"></script>
</html>
