<!DOCTYPE html>
<html>
<head>
        <title>Single patient prescription Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles/prescriptions.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        
</head>

<body>
    <header class="head">
        <nav>
            <img
                src="https://assets.mockflow.com/app/wireframepro/company/C06cebf9edc514714a50cc24918f5b156/projects/MYQX0R3SPob/images/thumbnails/Me6d09e02eed3c78df2c2c0e04e0817c21678708408116"
                alt="photo"
                class="left-side-img3"
            />
            <h1 ><a class="title" href="/">HealthBridge</a></h1>
            <ul>
                <li><a class="patients" href="/">Patients</a></li>
                <li><a class="pharmacy" href="http://127.0.0.1:5000/pharmacy">Pharmacy</a></li>

                <li><a class="appointments" href="/appointments">Appointments</a></li>
      
            </ul>
        </nav>
    </header>

    <section class="main2">
        <h2><a class="bread_crumb" href="/">Patients /</a></h2><h3><a class="bread_crumb" href="http://127.0.0.1:5000/single/{{ patient.id }}"> {{ patient.name }} /</a></h3><a href="http://127.0.0.1:5000/prescriptions/{{ patient.id }}"><h4 id="pres">Prescriptions</h4></a>
        <button id="action">DISCARD</button>
    </section>
    <div class="line">
        <button class="btn" id="send"><a>GENERATE INVOICE</a></button> 
    </div>

    <main class="main">
        <section class="card">
            <h3>Prescriptions</h3>

            <section class="des">
                <div class="left">
                    Patient Name<br>
                    <h7 id="space">Pharmacy</h7>
                </div>
                <div class="middle1">
			 {{ patient.name }}
		    <br>
            <p>HealthBridge</p>
              
                </div>
                <div class="middle2">
                    Physician<br>
                    <h7 id="space">Prescription Id</h7><br>
                </div>
                <div class="right">
                    {{ user.name }}<br>
                    <p id="p_id">{{ prescription.id }}</p>
                    <div id="calendarDropdown" class="dropdown-content"></div>
		    
                </div>
            </section>

            <section class="main2">
                <h2>Prescription Lines</h2>
                <a id="btn3" href="#" target="_blank"><button class="btn2" id="addButton">Add an item</button></a>

                <!-- Card Popup HTML -->
                <div id="cardPopup" class="hidden card-popup">
                    <div class="popup-content">
                        <h2 class="text-2xl mb-4">Edit: Prescription</h2>

                        <div class="container">
                            <div class="section-wrapper1">
                                <section class="section">
                                    <h3>Medicines</h3>
                                    <h3>Start of treatment</h3>
                                    <h3>Patient</h3>
                                </section>
                            
                                <div class="vertical-line"></div>
                            
                                <section class="section">
                                    <select id="drugs">
                                        {% for drug in drugs %}
                                        <option id="drug" value="{{ drug.id }}"">{{ drug.name }}</option>
                                        {% endfor %}
                                    </select><br>
                                    <p>{{ patient.created_at }}</p>
                                    <p >{{ patient.name }}</p>
                                </section>
                            </div>

                        <hr class="section-divider">

                        <div class="container">
                            <h2>Dosage</h2>
                            <div class="section-wrapper1">
                                <section class="section">
                                    <h3>Dose</h3>
                                    <h3>Frequency</h3>
                                    <h3>Number of days</h3>
                                    
                                </section>
                            
                                <div class="vertical-line"></div>
                                <form class="section" id="yourFormId">
                                <input type="number" id="dose" placeholder="dose in mg, mL">
                                <input type="number" id="Frequency" placeholder="Frequency">
                                <input type="number" id="days" placeholder="days">
                                <button id="save" type="submit" class="btn3">Save</button>
                                </form>
                            </div>
                    </div>
                </div>
                <div id="cardPopup1" class="hidden card-popup">
                    <div class="popup-content">
                        <h2 class="text-2xl mb-4">Edit: Prescription</h2>

                        <div class="container">
                            <div class="section-wrapper1">
                                <section class="section">
                                    <h3>Medicines</h3>
                                    <h3>Start of treatment</h3>
                                    <h3>Patient</h3>
                                </section>
                            
                                <div class="vertical-line"></div>
                            
                                <section class="section">
                                    <select id="drugs1">
                                        {% for drug in drugs %}
                                        <option id="drug1" value="{{ drug.id }}"">{{ drug.name }}</option>
                                        {% endfor %}
                                    </select><br>
                                    <p>{{ patient.created_at }}</p>
                                    <p >{{ patient.name }}</p>
                                </section>
                            </div>

                        <hr class="section-divider">

                        <div class="container">
                            <h2>Dosage</h2>
                            <div class="section-wrapper1">
                                <section class="section">
                                    <h3>Dose</h3>
                                    <h3>Frequency</h3>
                                    <h3>Number of days</h3>
                                    
                                </section>
                            
                                <div class="vertical-line"></div>
                                <form class="section" id="yourFormId1">
                                <input type="number" id="dose1" placeholder="dose in mg, mL">
                                <input type="number" id="Frequency1" placeholder="Frequency">
                                <input type="number" id="days1" placeholder="days">
                                <button id="save1" type="submit" class="btn3">Save</button>
                                </form>
                            </div>
                    </div>
                </div>
            </section>
            <!--<h4>Prescription Records</h4>-->
            <table id="medicines">
              <thead>
                <tr>
                    <th>Id</th>
                    <th>Medicines</th>
                    <th>Dose</th>
                  <th>Frequency</th>
                  <th>Treatment duration</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for drug in prescribed_drugs %}
                <tr>
                    <td>{{ drug.id }}</td>
                  <td>{{ drug.drug_name }}</td>
                    <td>{{ drug.dosage }} mg</td>
                  <td>{{ drug.frequency }} times</td>
                  <td>{{ drug.days }} days</td>
                  <td><a class="delete-icon" href="#"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <div id="flashMessage" class="flash-message"></div>
    </main>
</body>
<script src="/static/scripts/edit_prescriptions.js"></script>
<script src="/static/scripts/prescriptions.js"></script>
<script src="/static/scripts/generate_invoice.js"></script>
</html>