<!DOCTYPE html>
<html>
<head>
        <title>Pharmacy Management Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/patients_pharmacy.css" />
</head>

<body>
    <header class="head">
        <nav >
            <img
                src="https://assets.mockflow.com/app/wireframepro/company/C06cebf9edc514714a50cc24918f5b156/projects/MYQX0R3SPob/images/thumbnails/Me6d09e02eed3c78df2c2c0e04e0817c21678708408116"
                alt="photo"
                class="left-side-img3"
            />
            <h1 class="title">HealthBridge</h1>
            <ul>
                <li><a class="patients" href="/">Patients</a></li>
                <li><a class="pharmacy" href="/pharmacy">Pharmacy</a></li>
                <li><a class="appointments" href="#Appointments">Appointments</a></li>
            </ul>
        </nav>
    </header>
    <section class="main2">
        <h2>Pharmacy</h2>
        <input  type="text" placeholder="Search..." id="search-query">
        <a href="http://127.0.0.1:5000/create_drug">
            <button class="btn">Create</button>
        </a>
    </section>
    
    <main class="main">
	{% for drug in drugs %}
        <section class="card">
            <div class="left-side">
                <img
			src="../static/images/drug5.jpeg"
                    alt="photo"
                    class="left-side-img2"
                />
            </div>
                
            <div class="right-side">
                    
                <p class="description">
                    <h1 class="patient-holder"><a class="patient-name">{{ drug.name }}</a></h1>
		    <div class="info">
			    Price: {{ drug.price }} Shs<br>
			    On hand: {{ drug.quantity }} units
		    </div>
                </p>
                <p id="drug_id" style="font-size: 0px;">{{ drug.id }}</p>
                    
            </div>
        </section>
	{% endfor %}
            
       <!-- <section class="card">
                
            <div class="left-side">
                <img
                    src="https://assets.mockflow.com/app/wireframepro/company/Cf705e8a62740483fa06326b4bc66cc7d/projects/MspUGqjSPob/images/thumbnails/Mb23b1c4db39668d54c528614b3b846f41677756553868"
                    alt="photo"
                    class="left-side-img"
                />
            </div>
                
            <div class="right-side">
                    
                <p class="description">
                    <h1 class="patient-name">Actinac plus</h1>
		    <div class="info">
		    	Price: 500 Shs<br>
                    	On hand: 7 units
		    </div>
                </p>
                    
            </div>
                
        </section>
        <section class="card">
                
            <div class="left-side">
                <img
                    src="https://assets.mockflow.com/app/wireframepro/company/Cf705e8a62740483fa06326b4bc66cc7d/projects/MspUGqjSPob/images/thumbnails/Mec7083501466e4a0126a8170eb6fce551677756908676"
                    alt="photo"
                    class="left-side-img"
                />
            </div>
                
            <div class="right-side">
                    
                <p class="description">
                    <h1 class="patient-name">Action</h1>
		    <div class="info">
		    	Price: 200 USh<br>
                    	On hand: 192 units
		    </div>
                </p>
            </div>
        </section>
        
        
        <section class="card">
                
            <div class="left-side">
                <img
                    src="https://assets.mockflow.com/app/wireframepro/company/Cf705e8a62740483fa06326b4bc66cc7d/projects/MspUGqjSPob/images/thumbnails/M3e5d03e066eb79e1c0bae3df861025bb1677757031394"
                    alt="photo"
                    class="left-side-img"
                />
            </div>
                
            <div class="right-side">
                    
                <p class="description">
                    <h1 class="patient-name">Aceclofenac</h1>
		    <div class="info">
		    	Price: 1 Shs<br>
                    	On hand: 200 units
		    </div>
                </p>
                    
            </div>
                
        </section>
        <section class="card">
                
            <div class="left-side">
                <img
                    src="https://assets.mockflow.com/app/wireframepro/company/Cf705e8a62740483fa06326b4bc66cc7d/projects/MspUGqjSPob/images/thumbnails/M13f61407b8ccf5b727e47fb20e0e6c3b1677756402396"
                    alt="photo"
                    class="left-side-img"
                />
            </div>
                
            <div class="right-side">
                    
                <p class="description">
                    <h1 class="patient-name">Panadol</h1>
		    <div class="info">
		    	Price: 4 Shs<br>
                    	On hand: 300 units
		    </div>
                </p>
                    
            </div>
                
        </section>
        <section class="card">
                
            <div class="left-side">
                <img
                    src="https://assets.mockflow.com/app/wireframepro/company/Cf705e8a62740483fa06326b4bc66cc7d/projects/MspUGqjSPob/images/thumbnails/Mfa272b78d407ae0482487f3ae11e93031677757339812"
                    alt="photo"
                    class="left-side-img"
                />
            </div>
                
            <div class="right-side">
                    
                <p class="description">
                    <h1 class="patient-name">Dynapar</h1>
		    <div class="info">
		    	Price: 15 Shs<br>
                    	On hand: 29 units
		    </div>
                </p>
                    
            </div>
                
        </section>
            
        <section class="card">
                
            <div class="left-side">
                <img
                    src="https://assets.mockflow.com/app/wireframepro/company/Cf705e8a62740483fa06326b4bc66cc7d/projects/MspUGqjSPob/images/thumbnails/M13e94b7ad72ef58d572dc02072f37e271677757682672"
                    alt="photo"
                    class="left-side-img"
                />
            </div>
                
            <div class="right-side">
                    
                <p class="description">
                    <h1 class="patient-name">Abnal nasal drop</h1>
		    <div class="info">
		    	Price: 5000 Shs<br>
                    	On hand: 100 units
	    	    </div>
                </p>   
            </div>
        </section>

        <section class="card">
            <div class="left-side">
                <img
                    src="https://assets.mockflow.com/app/wireframepro/company/Cf705e8a62740483fa06326b4bc66cc7d/projects/MspUGqjSPob/images/thumbnails/M3e5d03e066eb79e1c0bae3df861025bb1677757031394"
                    alt="photo"
                    class="left-side-img"
                />
            </div>
                
            <div class="right-side">
                <p class="description">
                    <h1 class="patient-name">Cefixime</h1>
		    <div class"info">
		    	Price: 4 Shs<br>
                    	On hand: 300 units
		    </div>
                </p>   
            </div>     
        </section>

        <section class="card">   
            <div class="left-side">
                <img
                    src="https://assets.mockflow.com/app/wireframepro/company/Cf705e8a62740483fa06326b4bc66cc7d/projects/MspUGqjSPob/images/thumbnails/M8b591ece1727d6e1bf3cffee077867491677757680797"
                    alt="photo"
                    class="left-side-img"
                />
            </div>
                
            <div class="right-side">
                <p class="description">
                    <h1 class="patient-name">Diclofemac</h1>
		    <div class="info">
		    	Price: 4 Shs<br>
                    	On hand: 400 units
		    </div>
                </p>
            </div>
	</section>-->
    </main>
</body>
<script type="text/javascript" src="../static/scripts/search_prescriptions.js"></script>
<script type="text/javascript" src="../static/scripts/add_prescriptions.js"></script>
</html>
