<!DOCTYPE html>
<html>
<head>
    <title>Patient Registration Form</title>
    <link rel="stylesheet" href="../static/styles/drugs_form.css" />
    
</head>
<body>
	<script type="module" src="../static/scripts/header.js"></script>

    <my-header></my-header>
    
	<h2>Service Registration Form</h2>
	<form id="myForms" method="post">
		<fieldset>
			
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="{{ service.name }}"required><br><br>
			<label for="price">Description:</label>
			<input type="number" id="price" name="price" value="{{ service.description}}" required><br><br>
			<label for="quantity">Price:</label>
            <input type="number" id="quantity" name="quantity" value="{{ service.price }}" required><br><br>
		</fieldset>
		
		<button type="submit" value="Submit" id="btns">Submit</button> 
	</form>
</body>
<script type="text/javascript" src="../static/scripts/edit_service.js"></script>
</html>
