<!DOCTYPE html>
<html>
<head>
        <title>Service Management Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./static/styles/patients_pharmacy.css" />
</head>

<body>
    <script type="module" src="../static/scripts/header.js"></script>

    <my-header></my-header>
    
    <section class="main2">
        <h2>Services</h2>
        <input  type="text" placeholder="Search..." id="search-query-s">
        <a href="http://127.0.0.1:5000/create_service">
            <button class="btn" id="btns">Create</button>
        </a>
    </section>
    
    <main class="main">
    {% for service in services %}
    <section class="card">
        <div class="left-side">
            <img src="{{ service.service_img }}" alt="photo" class="left-side-img2" />
        </div>
                    
        <div class="right-side">
            <p class="description">
                <h1 class="service-holder">
                    <a class="service-name" href="/single_service/{{ service.id }}">
                        {{ service.name }}
                    </a>
                </h1>
                <div class="info">
                    Price: {{ service.price }} Shs<br>
                    Description: {{ service.description }}
                </div>
            </p>
        </div>
    </section>
    {% endfor %}
        
            
       
    </main>
</body>
<script type="text/javascript" src="../static/scripts/search_services.js"></script>
</html>
