<!DOCTYPE html>
<html>
<head>
        <title>Single patient Management Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/single_drug.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <script type="module" src="../static/scripts/header.js"></script>

    <my-header></my-header>
    
    <section class="main2">
        
        <h2><a class="bread_crumb">Pharmacy /</a></h2><h3>{{ drug.name }}</h3>
        <button id="action">Delete</button>
        <a href="/edit_drug/{{ drug.id }}" id="edit"><button class="btn1">EDIT</button></a>
    </section>
    <section class="line">
        <button class="btn">DRUG CARD</button> 
    </section>
    <main class="main">      
        <section class="card">
            <div class="left-side">
                <img
                    src="../static/images/drug5.jpeg"
                    alt="photo"
                    class="left-side-img"
                />
            </div>
                
            <section class="right-side">
                <h1 class="patient-name">{{ drug.name }}</h1>
                <div class="description">  
                    <div class="info"><div class="dp" id="price">Price</div><div class="dp" id="drug_price">{{ drug.price }} Shs</div>
                    <div class="dp" id="quantity">On hand</div><div class="dp" id="drug_quantity">{{ drug.quantity }} units</div></div>
                </div>
            
            </section>
                    
        </section>
    </main>
</body>
<script type="text/javascript" src="../static/scripts/delete_drug.js"></script>
</html>
