<!DOCTYPE html>
<html>
<head>
        <title>Single patient Management Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/single_patient.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
            #invoice{
                margin-top: -40px;
                margin-left: 90%;
            }

            #payment{
                margin-top: 3px;
            }
        </style>
        
</head>

<body>
    <script type="module" src="../static/scripts/header.js"></script>

    <my-header></my-header>
    
    <section class="main2">
        <h2><a class="bread_crumb" href="/">Patients /</a></h2><h3>{{ patient.name }}</h3>
        <button id="action">Delete</button>
        
        <a href="http://127.0.0.1:5000/edit_patient/{{ patient.id }}" id="edit"><button class="btn1">EDIT</button></a>
    </section>
    <div class="line">
        <button class="btn">PATIENT CARD</button> 
    </div>
    <main class="main">      
        <section class="card">
            <div class="left-side">
                <img
			src="{{ chosen }}"
                    alt="photo"
                    class="left-side-img"
                />
            </div>
            <section class="right-side">
                   
                <div class="description">
			        <h1 class="patient-name">{{ patient.name }}</h1>
                    <div class="info" id="pt">{{ patient.id }}</div>
                </div>
                <section>
                    <a class="prescriptions" href="/prescriptions/{{ patient.id }}">
                        <img class="img" src="https://assets.mockflow.com/app/wireframepro/svg/default/menu.svg" alt="Image description">
                        <span>Prescriptions</span>
                    </a>

                    <a class="prescriptions" id="invoice" href="/invoices/{{ patient.id }}">
                        <img class="img" id="burger" src="https://assets.mockflow.com/app/wireframepro/svg/default/menu.svg" alt="Image description">
                        <span id="inv">Invoices</span>
                    </a>

                    <a class="payments" id="payment" href="/all_payments/{{ patient.id }}">
                        <img class="img" src="https://assets.mockflow.com/app/wireframepro/svg/default/down.svg" alt="Image description">
                        <span>Payments</span>
                    </a><br>
                </section>
            </section>
            
            <section class="des">
                <div class="left">
                    Patient Age<br>
                    <h7 id="space">Gender</h7>
                </div>
                <div class="middle1">
			{{ patient.age }}
		    <br><h7 id="space">{{ patient.gender }}</h7>
                </div>
                <div class="middle2">
                    Address<br>
                    <h7 id="space">Contact</h7><br>
                    Email
                </div>
                <div class="right">
                    {{ patient.address }}<br>
		    <h7 id="space">{{ patient.contact }}</h7><br>
		    {{ patient.email }}
                </div>
            </section>
            <section>
                <h6>Clinical Notes</h6>
                <div class="card1">
                    <div class="notes" style="margin: 0; padding: 0;">
                        {{ patient.clinical_notes|trim }}
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>
<script type="text/javascript" src="../static/scripts/delete_patient.js"></script>
</html>
